:root {
  --background-color: #f8f9fa;
  --card-bg: #ffffff;
  --main-content-bg: #f8f9fa;
  --footer-bg: #f8f9fa;
  --text-color: #212529;
  --nav-text-color: var(--text-color);
  
  --divider-shadow-dark: rgba(0, 0, 0, 0.2);
  --divider-shadow-light: #ffffff;
  --text-inset-shadow: -1px -1px 1px rgba(0,0,0,0.1), 1px 1px 1px rgba(255,255,255,0.7);
  
  --shadow-color: rgba(0, 0, 0, 0.05);
  --divider-box-shadow: inset 1px 0 0 var(--divider-shadow-dark), inset 2px 0 0 var(--divider-shadow-light);

  --main-content-bg-rgb: 255, 255, 255;

  --head-car-bg: url('/images/head_car.webp');
  --wallpaper-bg: url('/images/wallpaper.webp');
}

html.dark {
  --background-color: #121212;
  --card-bg: #1e1e1e;
  --main-content-bg: #1e1e1e;
  --footer-bg: #1e1e1e;
  --text-color: #e0e0e0;
  --nav-text-color: var(--text-color);

  --divider-shadow-dark: rgba(0, 0, 0, 0.5);
  --divider-shadow-light: rgba(255, 255, 255, 0.15);
  --text-inset-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4), 1px 1px 1px rgba(255, 255, 255, 0.15);

  --shadow-color: rgba(0, 0, 0, 0.5);
  --divider-box-shadow: inset 1px 0 0 var(--divider-shadow-light), inset 2px 0 0 var(--divider-shadow-dark);

  --main-content-bg-rgb: 30, 30, 30;
}
