@config "../../tailwind.config.js";
@import "tailwindcss";

:root {
  --background-color: #fbf1c7; /* light0 */
  --main-content-bg: #ebdbb2;  /* light1 */
  --footer-bg: #d5c4a1;       /* light3 */
  --text-color: #3c3836;
  --link-color: #458588;
  --divider-shadow-dark: #d5c4a1;
  --divider-shadow-light: #fdf4d0;
  --text-shadow-dark: #928374;
  --text-shadow-light: #fbf1c7;
}

html.dark {
  --background-color: #282828; /* dark0 */
  --main-content-bg: #3c3836;  /* dark1 */
  --footer-bg: #504945;       /* dark3 */
  --text-color: #ebdbb2;
  --link-color: #83a598;
  --divider-shadow-dark: #3c3836;
  --divider-shadow-light: #504945;
  --text-shadow-dark: #282828;
  --text-shadow-light: #a89984;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

/* 强制设置 h1 字体大小为 text-3xl 对应的值，以解决可能的样式冲突 */
h1 {
  font-size: 1.875rem !important;
  line-height: 2.25rem !important;
}

/* 确保 Shiki 生成的代码块使用此字体 */
.shiki {
  font-family: 'GeistMono Nerd Font', monospace;
}

/* 为文章正文内容中的标题应用粗体和稍微放大的样式 */
.prose h1,
.prose h2,
.prose h3 {
  font-weight: bold !important;
}

.prose h1 {
  font-size: 2.25rem !important; /* 稍微放大 h1 */
}

.prose h2 {
  font-size: 1.75rem !important; /* 稍微放大 h2 */
}

.prose h3 {
  font-size: 1.3rem !important; /* 稍微放大 h3 */
}
