---
// 分类列表页，展示所有分类及文章数
import MainLayout from '../../layouts/MainLayout.astro';
import { getAllCategories } from '../../services/BlogService';
import type { BlogCategory } from '../../interfaces/BlogPost';

const categories = await getAllCategories();
---

<MainLayout title="分类 - 我的博客">
  <div>
    <h1>文章分类</h1>
    
    <div>
    {categories.map((category: BlogCategory) => (
      <a 
        href={`/categories/${category.slug}/`}
          class=""
      >
          <span>{category.name}</span>
          <span class="">{category.count}</span>
      </a>
    ))}
  </div>
  
  {categories.length === 0 && (
    <div>
      <p>{/* 暂无分类 */}</p>
    </div>
  )}
    
    <div>
      <a href="/">&larr; 返回首页</a>
    </div>
  </div>
</MainLayout>