---
import { getCollection } from 'astro:content';
import MainLayout from '../layouts/MainLayout.astro';

const pages = await getCollection('pages', ({ id }) => {
  return id === 'not-found.md';
});
const notFoundPage = pages[0];
const { Content } = await notFoundPage.render();
---
<MainLayout title={notFoundPage.data.title}>
  <article class="prose prose-invert max-w-none text-center">
    <h1 class="text-6xl font-bold">404</h1>
    <Content />
  </article>
</MainLayout>
