---
// 404 错误页面，当用户访问不存在的路径时显示
import MainLayout from '../layouts/MainLayout.astro';
import { UI_TEXT } from '../consts';
---

<MainLayout title={UI_TEXT.page_404_title}>
  <div>
    <h1>404</h1>
    <h2>{UI_TEXT.page_404_title}</h2>
    <p>{UI_TEXT.page_404_message}</p>
    <a href="/">{UI_TEXT.go_back_home}</a>
  </div>
</MainLayout>
