---
import { getCollection } from 'astro:content';
import MainLayout from '../layouts/MainLayout.astro';
import { SITE_TITLE } from '../consts';

const pages = await getCollection('pages', ({ id }) => {
  return id === 'about.md';
});
const about = pages[0];
const { Content } = await about.render();
---

<MainLayout title={`${about.data.title} - ${SITE_TITLE}`}>
  <article class="prose prose-invert max-w-none">
    <h1 class="text-3xl font-bold mb-8">{about.data.title}</h1>
    <Content />
  </article>
</MainLayout>
