---
---

<nav class="absolute bottom-0 left-0 right-0 z-10 bg-black/40 backdrop-blur-sm shadow-lg h-9">
  <ul class="flex justify-center h-full">
    <li><a href="/" class="h-full flex items-center px-6 text-gray-200 font-semibold bg-transparent hover:bg-black/20 transition-colors duration-200">Blog</a></li>
    <li><a href="/about/" class="h-full flex items-center px-6 text-gray-200 font-semibold bg-transparent hover:bg-black/20 transition-colors duration-200">Me</a></li>
  </ul>
</nav>
