---
import { NAVIGATION_LINKS } from '@/consts';
import ThemeSwitcher from '@/components/ThemeSwitcher.astro';
---

<nav class="flex items-center justify-between px-4">
  <ul class="flex justify-start h-full">
    {NAVIGATION_LINKS.map(link => (
      <li><a href={link.href} class="h-full flex items-center px-6 font-semibold transition-colors duration-200">{link.text}</a></li>
    ))}
  </ul>
  <div class="pr-4">
    <ThemeSwitcher />
  </div>
</nav>

<style>
  nav {
    backdrop-filter: blur(4px);
    height: 2.25rem; /* 36px */
    background-color: rgba(var(--main-content-bg-rgb), 0.85);
    border-top: 1px solid var(--divider-shadow-dark);
    border-bottom: 1px solid var(--divider-shadow-dark);
    box-shadow: var(--nav-shadow);
  }

  a {
    color: var(--nav-text-color);
    background-color: transparent;
  }

  html:not(.dark) a {
    color: var(--text-color);
  }

  html.dark a {
    color: var(--text-color);
  }

  a:hover {
  }
</style>
